.git/
.godot/
.idea/
.claude/
.vs/
.editorconfig
bin/
/android/
publish/
Properties/
packages/
*.user
local.props

**/sts2.dll
**/sts2.xml
**/BaseLib.dll


/addons/
/animations/
/banks/
/debug_audio/
/fonts/
/images/
/localization/
/materials/
/models/
/scenes/
/shaders/
/src/
/themes/